# Build output
/target

# .env files are used to locally store secrets
*.env

# don't include the cov report
tarpaulin-report.html

# don't include tls files
tls/server/cert/*
tls/server/key/*
tls/client/ca/*